.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin-top: 40px;
}

.footerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerListItem{
  display: inline-block;
margin: 5px
}
