.darkToggle {
  background: none;
  //   border: 2px solid white;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 24px;
  margin-top: 15px;
  font-size: 16px;
  font-family: "Playfair Display";
}

.lightToggle {
  background: none;
  border: none;
  color: black;
  border-radius: 10px;
  padding: 5px;
  font-size: 24px;
  margin-top: 15px;
  font-size: 16px;
  font-family: "Playfair Display";
}
